@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: large;
  font-weight: bold;
}

nav {
  background-color: #222;
  color: rgb(158, 195, 230);
  display: flex;
  flex-direction: row;
  padding: 0% 5%;
  width: 90%;
}

nav .array-inputs {
  display: flex;
}
nav .array-inputs div {
  margin: 25px 50px 0;
}
nav .array-inputs #a_size {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: aqua;
  outline: none;
  opacity: 0.7;
}

nav .array-inputs #a_speed {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: aqua;
  outline: none;
  opacity: 0.7;
}

nav .array-inputs #a_generate {
  background-color: transparent;
  font-weight: 600;
  border: rgb(255, 255, 255);
  border-style: solid;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: #222;
  transition: all 0.2s ease-in;
  border-radius: 10px;
  padding: 4%;
}

nav .array-inputs #a_generate:hover {
  color: #222;
  cursor: pointer;
  background-color: rgb(122, 218, 151);
}

nav .header_right {
  display: -webkit-box;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.nav-heading {
  text-align: center;
  display: inline-block;
  font-size: xxx-large;
  text-decoration: underline 2px;
  text-underline-offset: 0.5rem;
  padding: 5px;
  width: 100%;
  background-color: #1b1b1b;
  color: rgb(187, 213, 238);
  cursor: default;
  width: 99.5%;
}

nav .header_right .algos {
  display: flex;
  place-content: center;
  padding: 2% 0%;
}
.algos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  align-items: middle;
}
nav .header_right .algos button {
  background-color: transparent;
  border: solid black 2px;
  margin: auto;
  border-radius: 20px;
  color: white;
  padding: 2% 4%;
  font-size: x-large;
  transition: all 0.5s ease-in-out;
}

nav .header_right .algos button:hover {
  background-color: rgb(197, 75, 75);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

nav .header_right .algos .butt_locked {
  background-color: rgb(0, 0, 0);
  cursor: default;
}

nav .header_right .algos .butt_locked:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(59, 52, 52);
  cursor: default;
}

nav .header_right .algos .butt_selected {
  background-color: white;
  color: rgb(0, 0, 0);
}

nav .header_right .algos .butt_selected:hover {
  background-color: white;
  cursor: pointer;
}

nav .header_right .algos .butt_unselected:hover {
  background-color: rgb(197, 75, 75);
  cursor: pointer;
  border-radius: 10px;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
  grid-template-columns: 20% 60% 20%;
}

section #array_container {
  display: -webkit-box;
  display: -ms-flexbox;
  width: 100%;
  height: 65vh;
}

section #Info_Cont1 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center; 
  height: 50vh;
}

.a_container {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.hide {
  display: none;
}
